 /*
 
 File: style-transitions.css
 
 Abstract: This example webpage showcases a variety of CSS visual 
 effects.  Buttons and other page elements are styled with CSS gradients
 and shadows, menus are animated with CSS transitions, custom fonts are 
 displayed with CSS web fonts, and elements are positioned, scaled, and 
 rotated on the page using CSS transforms.  The entire interface is drawn
 and animated without using any images or plug-ins.
 
 Version: 1.0
 
 Disclaimer: IMPORTANT:  This Apple software is supplied to you by 
 Apple Inc. ("Apple") in consideration of your agreement to the
 following terms, and your use, installation, modification or
 redistribution of this Apple software constitutes acceptance of these
 terms.  If you do not agree with these terms, please do not use,
 install, modify or redistribute this Apple software.
 
 In consideration of your agreement to abide by the following terms, and
 subject to these terms, Apple grants you a personal, non-exclusive
 license, under Apple's copyrights in this original Apple software (the
 "Apple Software"), to use, reproduce, modify and redistribute the Apple
 Software, with or without modifications, in source and/or binary forms;
 provided that if you redistribute the Apple Software in its entirety and
 without modifications, you must retain this notice and the following
 text and disclaimers in all such redistributions of the Apple Software. 
 Neither the name, trademarks, service marks or logos of Apple Inc. 
 may be used to endorse or promote products derived from the Apple
 Software without specific prior written permission from Apple.  Except
 as expressly stated in this notice, no other rights or licenses, express
 or implied, are granted by Apple herein, including but not limited to
 any patent rights that may be infringed by your derivative works or by
 other works in which the Apple Software may be incorporated.
 
 The Apple Software is provided by Apple on an "AS IS" basis.  APPLE
 MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
 THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS
 FOR A PARTICULAR PURPOSE, REGARDING THE APPLE SOFTWARE OR ITS USE AND
 OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS.
 
 IN NO EVENT SHALL APPLE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL
 OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION,
 MODIFICATION AND/OR DISTRIBUTION OF THE APPLE SOFTWARE, HOWEVER CAUSED
 AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
 STRICT LIABILITY OR OTHERWISE, EVEN IF APPLE HAS BEEN ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
 Copyright (C) 2010 Apple Inc. All Rights Reserved.
 
 */ 

/* Fade-in transition (entire submenu) */
#fade-submenu {
    opacity: 0;
    height: 0;
}

#navigation-menu > li:hover > #fade-submenu {
    opacity: 1;
    height: auto;

    -webkit-transition-property: opacity, height;
    -webkit-transition-duration: 0.25s, 0s; /* animate opacity for 0.25s and animate height for 0s */
    -webkit-transition-delay: 0.25s;
}

/* Drop-down transition (entire submenu) */
#drop-submenu {
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top center;
}

#navigation-menu > li:hover > #drop-submenu {
    -webkit-transform: scaleY(1);

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-delay: 0.25s;
}

/* Blinds transition (each list item) */
#blinds-submenu > li {
    opacity: 0;
    height: 0;
    padding: 0 0.5em 0 0.5em;
    margin: 5px 0px 5px 0px;
}

#navigation-menu > li:hover > #blinds-submenu > li {
    opacity: 1;
    height: 1em; /* Transitioning to 'auto' won't animate; must use a value */
    padding: 0.5em;
    margin: 5px;
    
    -webkit-transition-property: opacity, height, padding, margin;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-delay: 0.25s;
}

/* Zoom-down transition (each list item) */
#zoom-down-submenu > li {
    opacity: 0;
    -webkit-transform: scale3d(5, 5, 1);
    -webkit-transform-origin: top center;
}

#navigation-menu > li:hover > #zoom-down-submenu > li {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);

    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.25s;
}
